
$spriteUrl : '../images/icons/sprite.png';

.icon-basket {
  background-image: url($spriteUrl);
  background-position: -66px -60px;
  width: 17px;
  height: 21px;
}
.icon-fav {
  background-image: url($spriteUrl);
  background-position: 0px -60px;
  width: 24px;
  height: 21px;
}
.icon-fb {
  background-image: url($spriteUrl);
  background-position: 0px 0px;
  width: 31px;
  height: 30px;
}
.icon-inst {
  background-image: url($spriteUrl);
  background-position: -31px 0px;
  width: 31px;
  height: 30px;
}
.icon-next {
  background-image: url($spriteUrl);
  background-position: 0px -81px;
  width: 21px;
  height: 7px;
}
.icon-profile {
  background-image: url($spriteUrl);
  background-position: -24px -60px;
  width: 21px;
  height: 21px;
}
.icon-search {
  background-image: url($spriteUrl);
  background-position: -45px -60px;
  width: 21px;
  height: 21px;
}
.icon-tel {
  background-image: url($spriteUrl);
  background-position: -62px 0px;
  width: 30px;
  height: 30px;
}
.icon-tw {
  background-image: url($spriteUrl);
  background-position: -62px -30px;
  width: 30px;
  height: 30px;
}
.icon-vk {
  background-image: url($spriteUrl);
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}
.icon-whatsapp {
  background-image: url($spriteUrl);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}
