.header {
  @include md-block {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  };

  &__top {
    background-color: #222222;
    padding: 10px 0;

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include sm-block {
        justify-content: center;
      }
    ;
    }
  }

  &__mmenu {
    display: none;
    @include md-block {
      display: block;
    }
  ;
    @include sm-block {
      display: none;
    }
  ;

    &_sm {
      display: none;
      @include sm-block {
        display: block;
        margin-right: 30px;
      }
    ;
    }
  }

  &__menu {
    @include md-block {
      display: none;
    }
  ;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__callorder {
    margin-right: 34px;
    @include md-block {
      margin-right: 45px;
    }
  ;
    @include sm-block {
      margin-right: 20px;
    }
  ;
  }

  &__middle {
    padding: 10px 0;
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include sm-block {
        position: relative;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        padding: 20px 0;
      }
    ;
    }
  }

  &__contacts {
    @include sm-block {
      order: 1;
      padding-right: 30px;
      display: flex;
    }
  ;

  }

  &__tel {
    margin-bottom: 10px;
    @include sm-block {
      margin-bottom: 5px;
    }
  ;
  }

  &__time {
    @include md-block {
      display: none;
    }
  ;
    &_md {
      display: none;
      @include md-block {
        display: block;
      }
    ;
    }
  }

  &__logo {
    @include sm-block {
      margin-left: -15px;
      margin-bottom: 30px;
      padding-right: 30px;
    }
  ;
  }

  &__cabinet {
    @include sm-block {
      position: absolute;
      z-index: 10;
      right: 0;
    }
  ;

    &-list {
      margin-bottom: 13px;
    }

  }

  &__email {
    @include md-block {
      display: none;
    }
  ;

    &_md {
      display: none;
      @include md-block {
        display: block;
      }
    ;
      @include sm-block {
        display: none;
      }
    ;
    }
  }

  &__bottom {
    background-color: #013243;

    &-container {
      position: relative;
    }
  }

}

.menu {
  display: flex;

  &__item {
    color: $bg;
    font-size: 14px;
    font-weight: 500;
    margin-right: 40px;
    transition: .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .7;
    }

  }
}

.controls {
  display: flex;
}

.control {
  margin-right: 13px;
  transition: .3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include md-block {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    padding: 5px;
  }
  @include xs-block {
    margin-right: 20px;
  }

  &_whatsapp {
    border: none;
    padding: 0;
  }

  &__svg {
    max-width: 100%;
    max-height: 100%;
    fill: $bg;

    &_whatsapp {

    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }
}

.callorder {

  &__button {
    display: flex;
    align-items: center;
    transition: .3s;

    @include md-block {
      padding-right: 30px;
      border-right: 1px solid rgba($bg, .6);
    }
  ;
    @include sm-block {
      padding-right: 0;
      border-right: none;
    }
  ;

    &:hover {
      opacity: .7;
    }

    &-svg {
      width: 20px;
      height: 20px;
      fill: $bg;
      margin-right: 13px;

      @include md-block {
        width: 30px;
        height: 30px;
        margin-right: 0;
      }
    ;
    }
    &-text {
      color: $bg;
      font-weight: 600;
      @include md-block {
        display: none;
      }
    ;
    }
  }
}

.cabinet {
  display: flex;
  align-items: center;
  @include sm-block {
    flex-direction: column;
  }
;

  &__item {
    padding: 0 30px;
    border-right: 1px solid rgba(#53707d, .4);
    @include md-block {
      padding: 0 20px;
    }
  ;
    @include sm-block {
      padding: 0;
      margin-bottom: 20px;
      border-right: none;
    }
  ;

    &:hover {
      .cabinet__item-icon {
        opacity: .7;
      }
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    &-icon {
      transition: .3s;
    }
  }

}

.tel {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  @include md-block {
    font-size: 18px;
  }
;
  @include sm-block {
    font-size: 16px;
  }
;

  &:hover {
    text-decoration: underline;
  }
}

.time {
  color: #888888;
  font-weight: 500;
}

.email {
  color: #888888;
  font-weight: 500;

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include md-block {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 12px 12px 12px 30px;

    position: absolute;
    z-index: 100;
    top: -106px;
    left: -999px;
    background-color: #013243;
    transition: .3s;

    &.open {
      left: 0;
    }

  }
;
  @include sm-block {
    top: 0;
  }
;

  &__item {

    position: relative;
    @include md-block {
      position: static;
    }
  ;

    &:hover, &.active {
      .nav__drop {
        top: 100%;
        @include md-block {
          top: 0;
          bottom: 0;
        }
      ;
      }
    }
    &.active {
      .nav__drop {
        top: 100%;
        @include md-block {
          top: 0;
          bottom: 0;
        }
      ;
      }
      .nav__item-link {
        opacity: .7;
      }
    }

    &-link {
      display: block;
      color: $bg;
      text-transform: uppercase;
      padding: 22px 0;
      position: relative;
      transition: .3s;
      @include md-block {
        padding: 12px 0;
        font-size: 12px;
      }
    ;

      &:hover {
        opacity: .7;
      }
    }

  }

  &__drop {
    position: absolute;
    z-index: 100;
    top: -999px;
    padding: 28px 40px;

    width: 485px;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.15);
    background-color: $bg;

    @include md-block {
      width: 375px;
      top: -999px;
      bottom: initial;
      left: 100%;
      padding: 20px 25px;

      &:before {
        content: '';
        display: block;
        height: 100%;
        width: 20%;
        position: absolute;
        right: 100%;
        top: 0;
      }
    }
  ;
    @include sm-block {
      padding: 10px 12px;
      width: 146px;
    }
  ;
  }
}

.nav-1 {
  border-right: 1px solid rgba(#617e89, .6);
  width: 170px;
  @include md-block {
    width: 145px;
  }
;
  @include sm-block {
    width: 100%;
    border-right: none;
  }
;

  &__item {
    margin-bottom: 25px;
    @include sm-block {
      margin-bottom: 5px;
    }
  ;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .nav-1__item-link {
        color: #222222;
      }

      .nav-2 {
        display: block;
      }
    }

    &-link {
      display: block;
      color: #666666;
      font-weight: 600;
      text-transform: uppercase;
      padding: 10px 0;
      padding-right: 10px;
      transition: .3s;
      @include md-block {
        font-size: 12px;
      }
    ;

    }
  }
}

.nav-2 {
  display: none;
  position: absolute;
  z-index: 10;
  width: 277px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 28px 40px;

  @include md-block {
    width: 200px;
    padding: 20px 30px;
  }
;
  @include sm-block {
    width: 100%;
    position: static;
    padding: 0;
    padding-bottom: 25px;
  }
;

  &__item {
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 25px;
    @include md-block {
      font-size: 12px;
    }
  ;
    @include sm-block {
      margin-bottom: 10px;
      color: #333333;
    }
  ;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mmenu {

  &__button {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 32px;
    width: 32px;

    &.open {
      .mmenu__line {
        &:nth-child(1) {
          animation-name: open1;
        }
        &:nth-child(2) {
          animation-name: open2;
        }
        &:nth-child(3) {
          animation-name: open3;
        }
      }
    }

    &.close {
      .mmenu__line {
        &:nth-child(1) {
          animation-name: close1;
        }
        &:nth-child(2) {
          animation-name: close2;
        }
        &:nth-child(3) {
          animation-name: close3;
        }
      }
    }
  }

  &__line {
    width: 32px;
    height: 2px;
    background-color: $bg;
    position: absolute;
    left: 0;
    transition: .3s;

    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @include sm-block {
      background-color: #222;
    };

    &:nth-child(1) {
      top: 5px;
    }
    &:nth-child(2) {
      top: 15px;
    }
    &:nth-child(3) {
      top: 25px;
    }

  }
}

@keyframes close1 {
  from {
    transform: rotate(-45deg);
    top: 15px;
  }
  50% {
    transform: rotate(0);
    top: 15px;
  }
  to {
    top: 5px;
    transform: rotate(0);
  }
}

@keyframes close2 {
  from {
    top: 15px;
    opacity: 0;
  }
  50% {
    top: 15px;
    opacity: 0;
  }
  to {
    top: 15px;
    opacity: 1;
  }
}

@keyframes close3 {
  from {
    top: 15px;
    transform: rotate(45deg);
  }
  50% {
    top: 15px;
    transform: rotate(0);
  }
  to {
    top: 25px;
    transform: rotate(0);
  }
}

@keyframes open1 {
  from {

  }
  50% {
    top: 15px;
  }
  to {
    top: 15px;
    transform: rotate(-45deg);
  }
}

@keyframes open2 {
  from {
    opacity: 1;
  }
  50% {
    top: 15px;
    opacity: 0;
  }
  to {
    top: 15px;
    opacity: 0;
  }
}

@keyframes open3 {
  from {

  }
  50% {
    top: 15px;
  }
  to {
    top: 15px;
    transform: rotate(45deg);
  }
}