.main-cats {
  margin-bottom: 100px;

  .row {
    margin-right: -4px;
    margin-left: -4px;
  }

  &__col {
    @include col;
    @include size(12);
    width: calc(50% - 8px);
    margin-left: 4px;
    margin-right: 4px;
  }

}

.main-cat {
  position: relative;

  &_small {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    z-index: 20;
    top: 45px;
    right: 40px;
    background-color: rgba(#013243,.6);
    padding: 15px 25px 20px 25px;
    @include md-block {
      top: initial;
      bottom: 30px;
      right: 10px;
    };

    &_br {
      top: initial;
      right: 24px;
      bottom: 20px;
      @include md-block {
        bottom: 30px;
        right: 15px;
      };
    }

    &_bl {
      top: initial;
      right: initial;
      bottom: 20px;
      left: 45px;

      @include md-block {
        bottom: 30px;
        left: 78px;
      };
    }
  }

  &__title {
    color: $bg;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($bg,.2);
    margin-bottom: 10px;
  }

  &__link {
    color: $bg;
    transition: .3s;

    &:hover {
      text-decoration: underline;
    }
  }
}

.new-products {
  margin-bottom: 100px;
  &__title {
    display: flex;
    align-items: center;
    color: #013243;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 50px;
    @include md-block {
      font-size: 24px;
      margin-bottom: 30px;
    };

    &:before, &:after {
      content: '';
      height: 1px;
      background-color: #013243;
      flex-grow: 1;
    }
    &:before {
      margin-right: 30px;
    }
    &:after {
      margin-left: 30px;
    }
  }
}
.new-product {
  @include col;
  @include size(6);
  @include size-md(12);

  display: flex;
  justify-content: center;
}